<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>650748744773-ktja4k7j3a46e1qamfftffm8ddjb27hu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650748744773-ktja4k7j3a46e1qamfftffm8ddjb27hu</string>
	<key>API_KEY</key>
	<string>AIzaSyBu0OoikWdDM0z2eVIm39Qt7PLEE39_KBA</string>
	<key>GCM_SENDER_ID</key>
	<string>650748744773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yukao.ingCalc</string>
	<key>PROJECT_ID</key>
	<string>ingcalc-8fdc5</string>
	<key>STORAGE_BUCKET</key>
	<string>ingcalc-8fdc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650748744773:ios:6abb47178ee75bb4</string>
	<key>DATABASE_URL</key>
	<string>https://ingcalc-8fdc5.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6416476542651492~7504025124</string>
</dict>
</plist>